@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*navigasinya*/
.navigasibar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navigasibar.wush{
    padding: 30px 0;
    background: rgb(20, 220, 170);
}

.max-width {
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

.navigasibar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasibar .logo a {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.navigasibar .logo a span{
    font-size: 40px;
    font-weight: 600;
    color: rgb(20, 220, 170);
    transition: all 0.3s ease;
}

.navigasibar.wush .logo a span{
    color: #fff;
}


.navigasibar .menu li {
    list-style: none;
    display: inline-block;
}

.navigasibar .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 25px;
    transition: color .5s ease;
}

.navigasibar .menu li a:hover {
    color: rgb(20, 220, 170);
}

.navigasibar.wush .menu li a:hover {
    color: rgb(100, 100, 100);
}

/* styling tombolmenu */

.tombol-mnu {
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    display: none;
}


/* styling untuk section home */

.home {
    display: flex;
    background: url(/images/background.jpg);
    height: 100vh;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .hm-content .text1 {
    font-size: 27px;
}

.home .hm-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .hm-content .text3 {
    font-size: 27px;
    margin: 5px 0;
}

.home .hm-content .text3 span{
    color: rgb(20, 220, 170);
}

/* media query dimulai */

@media (max-width: 974px){
    
    .max-width {
        padding: 0 50px;
    }

    .tombol-mnu{
        display: block;
        z-index: 999;
    }

    .tombol-mnu i.aktif::before{
        content: "\f00d";
    }

    .navigasibar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navigasibar .menu.aktif{
        left: 0;
    }

    .navigasibar .menu li{
        display: block;   
    }
    .navigasibar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
}