@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*navigasinya*/
.navigasibar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(49, 49, 49);
    font-family: 'Ubuntu', sans-serif;
}

.max-width {
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

.navigasibar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.navigasibar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.navigasibar .logo a span{
    font-size: 35px;
    font-weight: 600;
    color: rgb(20, 220, 170);
}

.navigasibar .menu li {
    list-style: none;
    display: inline-block;
}

.navigasibar .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
}

.navigasibar .menu li a:hover {
    text-decoration: none;
    color: rgb(20, 220, 170);
    font-size: 20px;
    margin-left: 25px;
    animation: .3s ease-in-out;
}




/* styling untuk section home */

.home {
    display: flex;
    background: url(/images/background.jpg);
    height: 100vh;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .hm-content .text1 {
    font-size: 27px;
}

.home .hm-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .hm-content .text3 {
    font-size: 27px;
    margin: 5px 0;
}

.home .hm-content .text3 span{
    color: rgb(20, 220, 170);
}

.text1 {
    animation-name: ngeslidekiri;
    animation-duration: 2s;
    animation-iteration-count: initial;
}

.text2 {
    animation-name: ngeslidekiri;
    animation-duration: 4s;
    animation-iteration-count: initial;
}

.text3 {
    animation-name: ngeslidekiri;
    animation-duration: 6s;
    animation-iteration-count: initial;
}

@keyframes ngeslidekiri {
    from {
        margin-left: 100%;
        width: 300%;
        opacity: 0%;
    }
    to {
        margin-left: 0;
        width: 100%;
        opacity: 100%;
    }
}