@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*navigasinya*/
.navigasibar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navigasibar.wush{
    padding: 30px 0;
    background: rgb(20, 220, 170);
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    /* background-color: blue; */
}

.navigasibar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasibar .logo a {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.navigasibar .logo:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-in-out;
}

.navigasibar .logo a span{
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 216, 162);
    /* color: rgb(20, 220, 170); */
    transition: all 0.3s ease;
}

.navigasibar.wush .logo a span{
    color: #fff;
}


.navigasibar .menu li {
    list-style: none;
    display: inline-block;
}

.navigasibar .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 25px;
    transition: color .9s ease;
}

.navigasibar.wush .menu li a:hover {
    color: rgb(100, 100, 100);
}

/* styling tombolmenu */

.tombol-mnu {
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.navigasibar .menu li a:hover {
    text-decoration: none;
    color: rgb(20, 220, 170);
    font-size: 25px;
    margin-left: 25px;
    transition: .3s ease;
}




/* styling untuk section home */

.home {
    display: flex;
    background: url(/images/testbg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .hm-content .text1 {
    font-size: 27px;
    transition: .3s ease-in-out;
}

.home .hm-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    transition: .3s ease-in-out;
}

.home .hm-content .text3 {
    font-size: 27px;
    margin: 5px 0;
    transition: .3s ease-in-out;
}

.home .hm-content .text3 span{
    color: rgb(20, 220, 170);
    font-weight: 500;
    transition: .3s ease-in-out;
}
.home .hm-content a{
    display: inline-block;
    background: rgb(20, 220, 170);
    color: #fff;
    font-size: 25px;
    padding: 11px 35px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(20, 220, 170);
    transition: all 0.3s ease;
}
.home .hm-content a:hover{
    color:rgb(20, 220, 170);
    background: none;
}

/* styling untuk konten yg sama */

section{
    /* background-color: #393d45; warna abu */
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    /* width: 180px; standard*/
    width: 150px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(20, 220, 170);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section */

.about,.portfolio{
    font-family: 'Poppins',sans-serif;
}

.about .title::after{
    content: "Siapa aku";
}
.about .abt-content,
.portfolio .prt-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: violet; */
}
.about .abt-content .left{
    width: 45%;
    /* background-color: red; */
}

.about .abt-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .abt-content .right{
    width: 55%;
}

.about .abt-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .abt-content .right .text span{
    color: rgb(20, 220, 170);
}

.about .abt-content .right p{
    text-align: justify;
}
.about .abt-content .right a{
    display: inline-block;
    background: rgb(20, 220, 170);
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid rgb(20, 220, 170);
    transition: all 0.3s ease;
}
.about .abt-content .right a:hover{
    color: rgb(20, 220, 170);
    background: none;
}



/* section untuk portfolio */
.portfolio{
    color: #fff;
    background: #393d45;
}

.portfolio .title::before{
    background: #fff;
}

.portfolio .title::after{
    background: #393d45;
    content: "Skillku";
}

.portfolio .prt-content .kartu{
    width: calc(33% - 20px);
    background: #454c5a;
    text-align: center;
    border-radius: 6px;
    padding: 20 25;
    /* padding: 20px 25px; */
    cursor: pointer;
    transition: all 0.3s ease;
}

.portfolio .prt-content .kartu .kotak:hover {
    background: #14dcaa;
    border-radius: 6px;
}
.portfolio .prt-content .kartu .kotak{
    transition: all 0.3s ease;
 }

 .portfolio .prt-content .kartu:hover .kotak{
    transform: scale(1.05);
 }


.portfolio .prt-content .kartu i{
   font-size: 50px;
   color: rgb(20, 220, 170);
   transition: color 0.3s ease;
}

.portfolio .prt-content .kartu:hover i{
    color: #fff;
 }

.portfolio .prt-content .kartu .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
 }

/* media query supaya responsif*/
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0;
    }
}

@media(max-width: 1104px){
    .about .abt-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 80px;
        /* background-color: yellow; */
    }
}

@media (max-width: 947px){
    /* 890px */

    .tombol-mnu{
        display: block;
        z-index: 999;
    }

    .tombol-mnu i.aktif::before{
        content: "\f00d";
    }

    .navigasibar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navigasibar .menu.aktif{
        left: 0;
    }

    .navigasibar .menu li{
        display: block;   
    }
    .navigasibar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
    .home .hm-content .text2{
        font-size: 70px;
    }
    .home .hm-content .text3{
        font-size: 35px;
    }
    .home .hm-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .abt-content .column{
        width: 100%;
    }
    .about .abt-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .abt-content .right{
        flex: 100%
    }
    .portfolio .prt-content .kartu{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}


@media (max-width: 690px){
    .max-width{
    padding: 0 23px;
    }
    .home .hm-content .text2{
        font-size: 60px;
    }
    .home .hm-content .text3{
        font-size: 32px;
    }
    .home .hm-content a{
        font-size: 20px;
    }
    .portfolio .prt-content .kartu{
        width: 100%;
    }
}
@media (max-width: 500px){
    .home .hm-content .text2{
        font-size: 50px;
    }
    .home .hm-content .text3{
        font-size: 27px;
    }
}